# Backend
backend/.env
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/.pytest_cache/

# Mobile
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/.env
mobile/android/
mobile/ios/

# General
.DS_Store
*.log
